.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-top: 25px;
}

.stepCounterWrapper {
  text-align: center;
}
.stepCounter {
  display: inline-block;
  margin-top: 5px;
  font-size: 25px;
}