/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  object-fit: contain;
}

/* colors */
:root {
  --base-light-color: #ecf0f1; /* to rgb: 236, 240, 241 */
  --base-dark-color: #333; /* to rgb: 51, 51, 51 */

  --crimson: #c0392b; /* to rgb: 192, 57, 43 */
  --azure: #2980b9; /* to rgb: 41, 128, 185 */
  --emerald: #2ecc71; /* to rgb: 46, 204, 113 */
  --amber: #f39c12; /* to rgb: 243, 156, 18 */
  --turquoise: #1abc9c; /* to rgb: 26, 188, 156 */
  /* --green-sea: #16a085; */

  --wet-asphalt: #34495e; /* to rgb: 52, 73, 94 */
  --midnight-blue: #2c3e50; /* to rgb: 44, 62, 80 */
}

html, body {
  width: 100%;
  height: 100%;
}

body {
  font-family: Lato, sans-serif;
  font-size: 12px;
  text-transform: uppercase;
  color: var(--base-light-color);
  background-image: linear-gradient(160deg, #4CB8C4, #3CD3AD);
  /* background-image: linear-gradient(160deg, #EECDA3, #EF629F); */
  /* background-image: linear-gradient(160deg, red, blue); */
  background-size: 400% 400%;
  opacity: 1;
  transition: opacity .2s;
  overflow: hidden;
  user-select: none; /* prevent text selection since this is just a game */
  animation: animatedGradient 5s ease infinite;
}
@keyframes animatedGradient {
  0%{background-position:76% 0%}
  50%{background-position:25% 100%}
  100%{background-position:76% 0%}
}

.screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.screen--visible {
  display: flex !important; /* important added to override the inline style */
}

.pan-surface {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.scene {
  position: relative;
  transform: rotateX(55deg) rotateY(0deg) rotateZ(45deg);
}

.cell {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--base-light-color);
  border-radius: 8px;
  
  opacity: 0;
  /* transform: scale(0); */
  animation: popin .4s ease-in-out forwards;
}
@keyframes popin {
  0% {
    opacity: 0;
    /* transform: scale(0); */
    translate: 20px 20px;
  }
  100% {
    opacity: 1;
    /* transform: scale(1); */
  }
}
/* .cell--base {
  background-color: #333a;
} */
.cell--complete .arrow {
  display: none;
}
.cell--complete.cell--left { background-color: var(--azure); }
.cell--complete.cell--right { background-color: var(--crimson); }
.cell--complete.cell--up { background-color: var(--amber); }
.cell--complete.cell--down { background-color: var(--emerald); }

.arrow {
  width: 60%;
  height: 60%;
  pointer-events: none;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-top: 25px;
}
.header .icon {
  position: absolute;
  right: 25px;
  width: 30px;
  height: 30px;
}

.step-counter-wrapper {
  text-align: center;
}
.step-counter {
  display: inline-block;
  margin-top: 5px;
  font-size: 25px;
}

.nav {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0 25px 25px;
}
.nav .icon {
  margin-left: 35px;
}
.nav .icon:first-of-type {
  margin-left: 0;
}

.icon {
  display: flex;
  align-items: flex-end;
  height: 50px;
  background: center top / 30px no-repeat;
  filter: drop-shadow(0 0 2px rgba(0, 0, 0, .3));
  cursor: pointer;
}
.icon--undo { background-image: url('../assets/icons/undo.png'); background-size: 33px; }
.icon--restart { background-image: url('../assets/icons/restart.png'); }
.icon--home { background-image: url('../assets/icons/home.png'); }
.icon--tutorial { background-image: url('../assets/icons/how.png'); }
.icon--settings { background-image: url('../assets/icons/settings.png'); }
.icon--mute { background-image: url('../assets/icons/mute.png'); }
.icon--unmute { background-image: url('../assets/icons/unmute.png'); }
.icon--disabled {
  pointer-events: none;
  opacity: .5;
  filter: none;
}

.token {
  position: fixed;
  top: 2px;
  left: 20px;
  width: 30px;
  height: 30px;
  /* opacity: 0; */ /* hidden by default via inline style */
  background: url('../assets/tokens/token-1.png') center center / contain no-repeat;
  border-radius: 50%;
  transition: all .2s;
  pointer-events: none;
}
.token--visible {
  opacity: 1 !important; /* important added to override the inline style */
}
.token--skip-transition {
  transition: none;
}

/* .shake {
  animation: shake .5s 1;
}
@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
} */